MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/femoor?retryWrites=true&w=majority
NEXTAUTH_SECRET=replace_with_long_random_secret
NEXTAUTH_URL=http://localhost:3000
STEADFAST_API_BASE_URL=https://portal.packzy.com/api/v1
STEADFAST_API_KEY=your_api_key
STEADFAST_SECRET_KEY=your_secret_key
SEED_ADMIN_NAME=admin
SEED_ADMIN_EMAIL=admin@gmail.com
SEED_ADMIN_PASSWORD=123456
